<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calibrate - Air Pollution Monitoring</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<style>
    #navBar, #footer {
        background-color: #002F5E;
    }
</style>
<body class="bg-gray-100">
    <nav id="navBar" class="border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Air Pollution Monitoring</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0  dark:border-gray-700">
                    <li>
                        <a href="{% url 'home' %}" class="block py-2 px-3 bg-blue-700 rounded md:bg-transparent md:p-0 text-blue-400" aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'calibrate' %}" class="block py-2 px-3 bg-blue-700 rounded md:bg-transparent md:p-0 text-blue-400" aria-current="page">Calibrate</a>
                    </li>
                    <li>
                        <a href="{% url 'connection' %}" class="block py-2 px-3  bg-blue-700 rounded md:bg-transparent md:p-0 text-blue-400" aria-current="page">Connections</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" class="block py-2 px-3  bg-blue-700 rounded md:bg-transparent md:p-0 text-blue-400" aria-current="page">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="flex flex-col items-center justify-center min-h-screen mt-6 dark:bg-gray-900">
        <a href="#" class="block max-w-md p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sensor Calibration Instructions for AQI Monitoring:</h5>
            <ol class="max-w-md space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
                <li>
                    <span class="font-semibold text-gray-900 dark:text-white">Ensure the sensor is placed in a well-ventilated area</span> to avoid calibration errors. Avoid placing it in areas with high humidity or direct sunlight.
                </li>
                <li>
                    <span class="font-semibold text-gray-900 dark:text-white">Expose the sensor to a known reference gas</span> (for PM2.5, CO, CO2, Ozone (O3) to ensure the readings are within expected ranges.
                </li>
                <li>
                    <span class="font-semibold text-gray-900 dark:text-white">Verify sensor response</span> by checking the systems output against known AQI values for the current air quality conditions.
                </li>
                <li>
                    <span class="font-semibold text-gray-900 dark:text-white">Run a final verification test</span> with the sensor exposed to varying air quality conditions (clean, moderate, and polluted air) to ensure it is responsive across the full range of expected AQI levels.
                </li>
            </ol>
        </a>
        <a href="#" class="block mt-4 max-w-md w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <button type="button" class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Start Calibrations</button>
        </a>
    </div>
    
    <footer id="footer" class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-4 dark:bg-gray-800 dark:border-gray-600">
        <span class="text-sm text-white sm:text-center">© 2025 <a href="https://flowbite.com/" class="hover:underline">Air Pollution Monitoring | AMA University & Baranggay Baesa</a>. All Rights Reserved.
        </span>
        <div class="flex flex-row md:mb-0">
            <a href="" class="flex items-center">
                <img src="https://i.imgur.com/zKftcMV.png" class="h-16 me-3" alt="FlowBite Logo" />
            </a>
            <a href="" class="flex items-center">
                <img src="https://i.imgur.com/mkTipwZ.png" class="h-16 me-3" alt="FlowBite Logo" />
            </a>
        </div>
    </footer>
</body>
</html>
